.option {
    
    cursor: pointer;
}

.symbol {
    padding: 15px;
    padding-top: 7px;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

#symbol-text {
    color: white;
    font-weight: bolder;
    font-size: 24pt;
}



.color-a {
    background-color: #8880FF
}

.color-b {
    background-color: #ff4e72
}

.color-c {
    background-color: #b441ff
}

.color-d {
    background-color: #ff9e5d
}

.comment {
    padding: 4px;
    color: white;
    background-color: rgb(53, 53, 53);
    /* border-radius: 2px; */
}