.right-container {
    padding: 20%;
    height: 100%;
    font-size: large;
    color: white;
}


#score {
    display: block;
    margin-right: 12px;
    font-size: 14pt;
    font-weight: bold;
    color: white;
}


#int {
    display: block;
    font-size: 14pt;
    font-weight: bold;
    color: white;
}

#count {
    display: block;
    font-size: 50pt;
    font-weight: bold;
    color: white;
}